/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    header {
        padding: 10px 0;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }

    .gallery-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 10px;
    }
}

@media only screen and (max-width: 480px) {
    header {
        text-align: center;
    }

    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
